
<div class="jumbotron">
  <h1>Fest Freaks</h1>
  <p> Review your favorite festivals</p>
  <p><a class="btn btn-primary btn-lg"
    <%= link_to 'Write A Review Here', new_festival_path %>
    </a></p>
</div>




<h1> Some Reviews: </h1>
<p><%= @review.commentary %></h1>
  <p> - <%= @review.author %> </p>
