// Place all the styles related to the festivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  color: #FFFFFF;
  background-image: url('https://static.pexels.com/photos/2143/lights-party-dancing-music.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
}

.jumbotron > p {
  color: #FFFFFF;

}

h1 {
  color: #1976D2;
  font-size: 50px;
}

p {
  color: #727272;
}
