// Place all the styles related to the festivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  color: #1976D2;
  font-size: 50px;
}

p {
  color: #727272;
}
